.check{
    text-decoration: line-through;
}
.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 80px;
}
.col-sm-8 {
    margin-bottom: 5px;
    border: 2px black solid;
    height: 36px;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
    text-align: initial;
}
button.btn.btn-primary {
    margin-right: 90px;
}
.col-sm-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
